/* STYLE SECTIONING TAGS */
body {
  text-align: center;
  font-family: "Benton Sans", "Helvetica Neue", helvetica, arial, sans-serif;
  margin: auto;
  width: 640px; 
  padding: 20px;
  background-color: #ffccd5;
}

/* STYLE TEXT */
h1 {
  text-align: center;
  font-style: serif;
  font-size: 2.8em;
  color: #e00078;
}

main {
  text-align: center;
  margin-top: 0;
  margin-bottom: 0;
  margin-right: 20%;
  margin-left: 20%;
}

img {
  display: block;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

/* STYLE FLEX CONTAINER */
.question {
  display: flex;
  /* uncomment the next line to center the questions and answers */
  /* justify-content: center; */
  margin-top: 2em;
}
  
/* STYLE FLEX ITEM */
.answer-choice {
  margin: 5px;
}

/* STYLE IMAGES */
.answer-choice img {
  height: 10em;
}

/* STYLE BUTTON */
button { 
  margin-top: 5px;
}